<%- include('../header.ejs')  %>

<br><br><br>

<h1 class="mt-5">View course</h1>

<div class="container mt-5">
    <div class="row">
        
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>name</th>
            <th>email</th>
            <th>phone</th>
            
        </tr>
        
            <tr>
                <td><%= c._id %></td>
                <td><%= c.name %></td>
                <td><%= c.email %></td>
                <td><%= c.phone %></td>
                
            </tr>
    
    </table>
</div>
</div>




<%- include('../footer.ejs')  %>
