<%- include("./header.ejs") %>
    <br><br>
    <br><br>
    <br><br>

    <button class="btn corn mt-5" data-bs-toggle="modal" data-bs-target="#cpassword">Change password</button>
    <button class="btn core mt-5" data-bs-toggle="modal" data-bs-target="#uprofile">update profile</button>
    <br><br>
    <br><br>
    <br><br>

    <!-- change password  -->
    <div class="modal fade" id="cpassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Change password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/changepassword" method="post">
                        <div class="mb-3">
                            <label for="">Old password</label>
                            <input type="password" name="oldPassword" id="" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label for="">New password</label>
                            <input type="password" name="newPassword" id="" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="">Conform password</label>
                            <input type="password" name="CPassword" id="" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-success">Change password</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- update profile  -->

    <div class="modal fade" id="uprofile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/changeprofile" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="">name</label>
                            <input type="text" value="<%= n %>" name="name" id="" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label for="">email</label>
                            <input type="email" value="<%= e %>" name="email" id="" class="form-control" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="">Profile image</label>
                            <input type="file" name="image" id="" class="form-control">
                            <img src="<%= i.url %>" alt="" width="50">
                        </div>
                        <button type="submit" class="btn btn-success">Update Profile</button>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <%- include("./footer.ejs") %>