<%- include('../header.ejs')  %>

<br><br><br>

<h1 class="mt-5">Display course</h1>

<div class="container mt-5">
    <div class="row">
        
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>name</th>
            <th>email</th>
            <th>phone</th>
            <th>course</th>
            <th>Status</th>
            <th>Comment</th>
            <th>action</th>
        </tr>
        <% d.forEach((a) => { %>
            <tr>
                <td><%= a._id %></td>
                <td><%= a.name %></td>
                <td><%= a.email %></td>
                <td><%= a.phone %></td>
                <td><%= a.course %></td>
                <td><%= a.status %></td>
                <td><%= a.comment %></td>

                <td>
                    <a href="/view/<%= a._id %>" class="btn btn-info">view</a>
                    <a href="/edit/<%= a._id %>" class="btn btn-success">edit</a>
                    <!-- <a href="/delete/<%= a._id %>" class="btn btn-danger">delete</a> -->
                </td>
            </tr>
     <%   }) %>
       
    </table>
</div>
</div>




<%- include('../footer.ejs')  %>
